{
  "customSyntax": "postcss-scss",
  "extends": "@humanmade/stylelint-config",
  "rules": {
    "max-nesting-depth": [2, {
      "ignore": ["blockless-at-rules", "pseudo-classes"]
    }],
    "scss/comment-no-empty": null
  }
}
