.question-game {
    max-width: 90%;
    margin: 5% auto;

    .cookie-alert {
        position: absolute;
        bottom: 20px;
        max-width: 90%;
        p {
            padding-bottom: 1rem;
        }

        button.cookie-confirm {
            position: absolute;
            right: 2rem;
            bottom: 0.75rem;
        }
    }
}